/* Overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); /* 10% black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: "Lark", sans-serif;
  font-weight: bold;
}

/* Popup Container */
.popup-container {
  background: white;
  border-radius: 8px;
  padding: 20px;
  width: 500px;
  display: flex;
  min-height: 500px;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* Close Button */
.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Form Styling */
.popup-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.popup-form input {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Lark", sans-serif;
}

.popup-logo{
    width: 100px;
}

.popup-form button {
  padding: 15px;
  font-size: 18px;
  background: #022759;
  color: white;
  border: none;
  width: 100%;
  border-radius: 24px;
  cursor: pointer;
  font-family: "Lark", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.3s ease-in;
}

.popup-form button:hover {
  background: linear-gradient(
    204deg,
    rgba(2, 39, 89, 1) 0%,
    rgba(186, 248, 110, 1) 100%
  );
}

/* Success Message */
.popup-success {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  text-align: center;
}

.popup-success h2 {
  color: #28a745;
  width: 100%;
  text-align: center;
}


.popup-content{
    color: rgb(96, 96, 96);
    font-weight: 500;
}




/* background image  */

.cs-bg-container {
  position: absolute; /* Ensures the container is the reference point for absolute positioning */
  width: 100%;
  z-index: -1;
  min-height: 100vh;
  max-height: 100vh; /* Full viewport size */
}


.top-left {
  position: absolute; 
  top: 120px;
  left: 0px;
  height: 200px;
  width: auto;
}

.top-center {
  position: absolute; 
  top: 0px;
  left: 30%;
  width: 170px;
  height: auto;
}

.top-right {
  position: absolute; 
  top: 0px;
  left: 75%;
  width: 150px;
  height: auto;
}

.bottom-left {
  position: absolute; 
  bottom: 0px;
  left: 0px;
  height: 160px;
  width: auto;
}

.bottom-center {
  position: absolute; 
  bottom: 0px;
  left: 51%;
  transform: translateX(-50%);
  height: 100px;
  width: auto;
}

.bottom-right {
  position: absolute; 
  bottom: 0px;
  right: 0px;
  height: 100px;
  width: auto;
}


/* header menu */

.header-menu-container{
  display: flex;
  position: fixed;
  background: #ffffff;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px;
  box-shadow: 0px 2px 4px 0px #00000033;
  z-index: 1;
}

.header-logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.header-logo{
  max-height: 66px;
  width: auto;
}

.header-menu-items-container{
  display: flex;
  gap: 20px;
  list-style: none;
}

.header-menu-link{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-decoration: none;
  color: #022759;
  background: #E7ECF1;
  padding: 18px 51px;
  font-weight: 600;
  border-radius: 50px;
}

.header-hamburger-menu{
  background: #022759;
  color: #ffffff;
  display: flex;
  font-size: 3  0px;
  align-items: center;
  justify-content: center;
  padding: 13px;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .top-left {
    top: 100px;
    left: 0px;
    height: 200px;
    width: auto;
  }
  
  .top-center {
    left: 30%;
    width: 100px;
    height: auto;
  }
  
  .top-right {
    left: 70%;
    width: 100px;
    height: auto;
  }
  
  .bottom-left {
    left: 0px;
    height: 100px;
    width: auto;
    bottom: 0;
  }
  
  .bottom-center {
    left: 51%;
    transform: translateX(-50%);
    height: 80px;
    width: auto;
    bottom: 0;
  }
  
  .bottom-right {
    right: 0px;
    height: 90px;
    width: auto;
    bottom: 0;
  }
}